.header {
  flex-shrink: 0;
  padding-bottom: 36px;
  margin: 45px auto 0;
  width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .header {
    width: 90%;
    }
  }

@media screen and (max-width: 730px) {
  .header {
    padding-bottom: 26.6px;
    width: 100%;
    margin: 28px auto 0;
    }
  }
